<mat-toolbar style="gap: 0.2rem" color="primary">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>

  <span>WebDevSite</span>
  <span class="example-spacer"></span>

  <button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon"
      >favorite</mat-icon
    >
  </button>

  <a href="https://profile.codersrank.io/user/samucatezu/" target="_blank">
    <i style="color: white; padding-top: 0.6rem" class="material-icons"
      >account_circle</i
    >
  </a>

  <a href=" https://www.linkedin.com/in/samuel-almeida-ads/" target="_blank">
    <img
      style="width: 100%; padding-top: 0.6rem"
      src="https://img.icons8.com/ios-glyphs/30/ffffff/linkedin.png"
    />
  </a>

  <a href="https://github.com/samucatezu" target="_blank">
    <img
      style="width: 50%; padding-top: 0.6rem"
      src="https://img.icons8.com/ios-filled/50/ffffff/github.png"
    />
  </a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav="matSidenav"
    class="sidenav mat-elevation-z4"
    mode="over"
  >
    <img
      class="avatar mat-elevation-z8"
      src="https://github.com/samucatezu.png"
    />

    <h2 class="name">Samuel Almeida</h2>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div name="line-card-one" id="line-card-one" class="line-card-one">
      <mat-card class="card1">
        <mat-card-subtitle>Project template</mat-card-subtitle>

        <mat-card-title
          >AngularTestBase &nbsp;
          <img
            src="https://img.icons8.com/ios-filled/30/000000/angularjs.png" /><img
            src="https://img.icons8.com/ios-filled/30/000000/html.png" /><img
            src="https://img.icons8.com/ios-filled/30/000000/css.png"
        /></mat-card-title>
        <mat-card-content>
          <p>
            Angular project to be the base of my features/tests and projects.
          </p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <a
            mat-button
            color="primary"
            href="https://github.com/samucatezu/AngularTestBase"
            target="_blank"
          >
            <img src="https://img.icons8.com/clr-gls/25/000000/github.png" />
            View code at github
          </a>
        </mat-card-actions>
        <mat-card-footer> </mat-card-footer>
      </mat-card>

      <mat-card class="card2">
        <mat-card-subtitle>Project for studies</mat-card-subtitle>
        <mat-card-title
          >AngularViaCep &nbsp;
          <img
            src="https://img.icons8.com/ios-filled/30/000000/angularjs.png" /><img
            src="https://img.icons8.com/ios-filled/30/000000/html.png" /><img
            src="https://img.icons8.com/ios-filled/30/000000/css.png"
        /></mat-card-title>
        <mat-card-content>
          <p>Program that consume ViaCep APi for study and work purpose</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <a
            style="display: row"
            mat-button
            color="primary"
            href="https://github.com/samucatezu/AngularViaCep"
            target="_blank"
          >
            <img src="https://img.icons8.com/clr-gls/25/000000/github.png" />
            View code at github
          </a>
        </mat-card-actions>
        <mat-card-footer> </mat-card-footer>
      </mat-card>

      <mat-card class="card3">
        <mat-card-subtitle>Project for studies</mat-card-subtitle>
        <mat-card-title
          >MovieCatalog &nbsp;
          <img src="https://img.icons8.com/ios-filled/30/000000/angularjs.png" />
          <img src="https://img.icons8.com/ios-filled/30/000000/html.png" />
          <img src="https://img.icons8.com/ios-filled/30/000000/css.png" />
          
        </mat-card-title>
        <mat-card-content>
          <p>
            Movie catalog system with a crud. I used Angular, Json and HTML/CSS
          </p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <a
            style="display: row"
            mat-button
            color="primary"
            href="https://github.com/samucatezu/MovieCatalog"
            target="_blank"
          >
            <img src="https://img.icons8.com/clr-gls/25/000000/github.png" />
            View code at github
          </a>
        </mat-card-actions>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </div>

    <div name="line-card-one" id="line-card-one" class="line-card-one">
      

      <mat-card class="card2">
        <mat-card-subtitle>Project for studies</mat-card-subtitle>
        <mat-card-title
          >ProductCatalog &nbsp;
          <img src="https://img.icons8.com/ios/30/000000/java-coffee-cup-logo.png"/>
          <img src="https://img.icons8.com/color/30/000000/elasticsearch.png"/>
          <img src="https://img.icons8.com/ios-filled/30/000000/docker.png"/>
            </mat-card-title>
        <mat-card-content>
          <p>Program that consume ViaCep APi for study and work purpose</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <a
            style="display: row"
            mat-button
            color="primary"
            href="https://github.com/samucatezu/ProductCatalogProject"
            target="_blank"
          >
            <img src="https://img.icons8.com/clr-gls/25/000000/github.png" />
            View code at github
          </a>
        </mat-card-actions>
        <mat-card-footer> </mat-card-footer>
      </mat-card>

      <mat-card class="card3">
        <mat-card-subtitle>Project for studies</mat-card-subtitle>
        <mat-card-title
          >CryptoOnTime &nbsp;
          <img src="https://img.icons8.com/ios-glyphs/30/000000/react.png" />
          <img src="https://img.icons8.com/ios-filled/30/000000/html.png" />
          <img src="https://img.icons8.com/ios-filled/30/000000/css.png" />
          <img
            src="https://img.icons8.com/ios-glyphs/30/000000/rebalance-portfolio.png"
          />
        </mat-card-title>
        <mat-card-content>
          <p>
            First experience creating an WebApp using ReactJS, ChartJS and
            RapidAPI.
          </p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <a
            style="display: row"
            mat-button
            color="primary"
            href="https://github.com/samucatezu/crypto-on-time"
            target="_blank"
          >
            <img src="https://img.icons8.com/clr-gls/25/000000/github.png" />
            View code at github
          </a>
        </mat-card-actions>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card1">
        <mat-card-subtitle>Project for studies</mat-card-subtitle>

        <mat-card-title
          >OlympicSys &nbsp;
          <img
            src="https://img.icons8.com/ios-filled/30/000000/circled-c.png" />
            </mat-card-title>
        <mat-card-content>
          <p>Olympics management project created in C language</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <a
            mat-button
            color="primary"
            href="https://github.com/samucatezu/OlympicSys"
            target="_blank"
          >
            <img src="https://img.icons8.com/clr-gls/25/000000/github.png" />
            View code at github
          </a>
        </mat-card-actions>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </div>

    <div name="line-card-one" id="line-card-one" class="line-card-one">
      

      <mat-card class="card2">
        <mat-card-subtitle>Project for studies</mat-card-subtitle>
        <mat-card-title
          >JavaCrud &nbsp;
          <img src="https://img.icons8.com/ios/30/000000/java-coffee-cup-logo.png"/>
          <img src="https://img.icons8.com/ios-filled/30/000000/sql.png"/>
          
            </mat-card-title>
        <mat-card-content>
          <p>Simple CRUD program using Java and JavaServerPage</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <a
            style="display: row"
            mat-button
            color="primary"
            href="https://github.com/samucatezu/Java-CRUD-project"
            target="_blank"
          >
            <img src="https://img.icons8.com/clr-gls/25/000000/github.png" />
            View code at github
          </a>
        </mat-card-actions>
        <mat-card-footer> </mat-card-footer>
      </mat-card>

      <mat-card class="card3">
        <mat-card-subtitle>empty</mat-card-subtitle>
        <mat-card-title
          >empty &nbsp;
          
        </mat-card-title>
        <mat-card-content>
          <p>
            empty
          </p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <a
            style="display: row"
            mat-button
            color="primary"
            href="https://github.com/samucatezu"
            target="_blank"
          >
            <img src="https://img.icons8.com/clr-gls/25/000000/github.png" />
            View code at github
          </a>
        </mat-card-actions>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
      <mat-card class="card1">
        <mat-card-subtitle>empty</mat-card-subtitle>

        <mat-card-title
          >empty &nbsp;
          
            
            </mat-card-title>
        <mat-card-content>
          <p>Oempty</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <a
            mat-button
            color="primary"
            href="https://github.com/samucatezu"
            target="_blank"
          >
            <img src="https://img.icons8.com/clr-gls/25/000000/github.png" />
            View code at github
          </a>
        </mat-card-actions>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
